@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "WWWWWWRRRRRRRRYYYYYYYY!!!!!!!!!";
}

<h2>YaHa</h2>
<p>Hello Ya---------Ha-----------!!!!!!!!!!!</p>

<ul>
    @for (int i = 0; i < ViewBag.OTOKO; i++)
    {
        <li>@ViewBag.ONNA</li>
    }
</ul>

